<nav class="navbar">
    <a href="/" class="navitem animated fadeInLeft delay-1s">Home</a>
    <a href="results" class="navitem animated fadeInLeft delay-1s">About</a>
    <a href="details" class="navitem animated fadeInLeft delay-1s">Details</a>
    <a href="favorites" class="navitem animated fadeInLeft delay-1s">Favorites</a>

{{#if session.isAuthenticated}}
  <p>Logged in as {{ session.data.authenticated.user.displayName }}</p>
  <button class="sign-out-button" {{action "logout"}}><img src="/assets/google.png" class="g-logo"></button>
{{else}}
  <button class="sign-in-button animated fadeInLeft delay-1s" {{action "login"}}><img src="/assets/google.png" class="g-logo"></button>
{{/if}}</nav>

<footer class="foot">Footer</footer>

{{outlet}}