<nav class="navbar">
    <LinkTo class="navitem animated fadeInLeft delay-1s" @route="index">Home</LinkTo>
    <LinkTo class="navitem animated fadeInLeft delay-1s" @route="application">About</LinkTo>
    <LinkTo class="navitem animated fadeInLeft delay-1s" @route="favorites">Favorites</LinkTo>

{{#if session.isAuthenticated}}
  <p class="sign-in-name">Logged in as {{ session.data.authenticated.user.displayName }}</p>
  <button class="sign-out-button" {{action "logout"}}><img src="/assets/google.png" class="g-logo"></button>
{{else}}
  <button class="sign-in-button animated fadeInLeft delay-1s" {{action "login"}}><img src="/assets/google.png" class="g-logo"></button>
{{/if}}</nav>

<footer class="foot">Footer</footer>

{{outlet}}