<form class="form2">
    <div class="ing">
    <label for="ing">Ingredients: </label>
    <input type="text" id="ing">
    <label for="allergies">Allergies:
        <select id="allergies">
            <option value="">--Select--</option>
            <option>dummy1</option>
            <option>dummy2</option>
            <option>dummy3</option>
            <option>dummy4</option>
            <option>dummy5</option>
        </select>       
    </label>
    </div>
    
    <div class="diet">
    <label for="diet">Diet
        <select id="diet">
            <option>--Select--</option>
            <option>diet1</option>
            <option>diet2</option>
            <option>diet3</option>
            <option>diet4</option>
            <option>diet5</option>
        </select>
    </label>
    </div>

    <div class="mealtype">
    <label for="mealtype">Meal Type:
        <select id="mealtype">
            <option>--Select--</option>
            <option>Breakfast</option>
            <option>Brunch</option>
            <option>Lunch</option>
            <option>Dinner</option>
        </select>
    </label>
    </div>

    <input type="submit" value="GO" class="submit2">    
</form>

<div class="results">
    {{#each this.model.hits as |recipe|}}
        <div class="resitem">
            <img class="resultimg" src={{recipe.recipe.image}} alt="100 x 100">
            <h4 class="resultname">{{recipe.recipe.label}}</h4>
            <p class="resulting">Ingredients: 
                <ul>
                    {{#each recipe.recipe.ingredientLines as |ingredient|}}
                        <li>{{ingredient}}</li>
                    {{/each}}
                </ul>
                {{!-- {{recipe.recipe.ingredientLines}} --}}
            </p>
            <p class="calories">Calories: {{round-calories recipe.recipe.calories}}</p>
        </div>
    {{/each}}
</div>

{{outlet}}