<form class="form2">
    <ul class="formtwo">
    <li>
        <div class="ing">
            <label for="ing" class="options">Ingredients: </label>
            <Input @value={{term}} @placeholder="chicken, rice, cucumber..." id="ing"/>
        </div>
    </li>

    <li>
        <div class="allergies">
            <label for="allergies" class="options">Allergies: </label>
            <select id="allergies" onchange={{action "changeHealth" value="target.value"}}>
                <option selected>--Select--</option>
                <option value="vegan">Vegan</option>
                <option value="vegetarian">Vegetarian</option>
                <option value="sugar-conscious">Sugar Conscious</option>
                <option value="peanut-free">Peanut Free</option>
                <option value="tree-nut-free">Tree-nut Free</option>
                <option value="alcohol-free">Alcohol Free</option>
            </select>
        </div>
    </li>
    
    <li>
        <div class="diet">
            <label for="diet" class="options">Diet: </label>
            <select id="diet" onchange={{action "changeDiet" value="target.value"}}>
                <option selected>--Select--</option>
                <option value="balanced">Balanced</option>
                <option value="high-protein">High Protein</option>
                <option value="low-fat">Low Fat</option>
                <option value="low-carb">Low Carb</option>
            </select>
        </div>
    </li>

    <li>
        <div class="mealtype">
        <label for="mealtype" class="options">Meal Type: </label>
        <select id="mealtype" onchange={{action "changeCookTime" value="target.value"}}>
            <option selected disabled>--Select--</option>
            <option value="1-30">1-30 mins</option>
            <option value="31-120">31-120 mins</option>
            <option value="121%2B">121+ mins</option>
        </select>
        </div>
    </li>

    <li>
        <button type="button" class="search-button" {{action "submit" term}}>Search</button>
    </li>   
    </ul>
</form>

<div class="results">
    {{#each this.model.hits as |recipe|}}
        <div class="resitem">
            <LinkTo @route="details" @model={{recipe.recipe.uri}} class="resultimg-box">
                <img class="resultimg" src={{recipe.recipe.image}} alt="100 x 100">
            </LinkTo>
            <h4 class="resultname">{{recipe.recipe.label}}</h4>
            <p class="resulting">Ingredients: 
                <ul>
                    {{#each recipe.recipe.ingredientLines as |ingredient|}}
                        <li>{{ingredient}}</li>                      
                    {{/each}}
                </ul>
            </p>
            <p class="calories">Calories: {{round-calories recipe.recipe.calories}}</p>
        </div>
    {{/each}}
</div>